[tool.poetry]
name = "openai-function-calling"
version = "0.6.0"
description = "Helper functions to generate OpenAI GPT function calling requests."
authors = ["Jake Cyr <cyrjake@gmail.com>"]
readme = "README.md"
packages = [{include = "openai_function_calling"}]

[tool.poetry.dependencies]
python = "^3.10"
typing-extensions = "^4.6.3"

[tool.poetry.group.dev.dependencies]
openai = "^0.27.8"
black = "^23.3.0"
pytest = "^7.4.0"
ruff = "^0.0.275"
coverage = "^7.2.7"
build = "^0.10.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
